body {
    background-color: whitesmoke;
}

.whole-left-single {
    padding-bottom: 5em;
    border-style: hidden;
    box-shadow: 0 0 12px 0 #797474;
    margin-bottom: 3em;
}

.whole-right-single {
    padding-bottom: 5em;
    border-style: hidden;
    box-shadow: 0 0 12px 0 #797474;
    margin-bottom: 3em;
}

.inner-img {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

.img-small {
    padding-bottom: 1em;
}

.whole-right-single>h1 {
    padding-bottom: 1em;
}

.whole-left-single>h1 {
    padding-bottom: 1em;
    margin: 21px;
    padding-top: 1em;
}

.inner-img h1 {
    margin-left: 22px;
}

.inner-img p {
    position: relative;
    top: 2em;
    left: -3em;
}

.whole-tags {
    display: inline-flex;
}

.whole-tags p {
    margin-right: 1em;
}

.text-left {
    margin: 21px;
}

.text-right {
    margin: 21px;
}

.whole-popular {
    margin: 21px;
}

.contact {
    margin: 21px;
}

.contact p {
    margin-bottom: 10px;
}

.skills {
    padding-top: 1em;
}

.single-skill:nth-child(1) p {
    background-color: #17196e;
    width: 90%;
    text-align: center;
    border-radius: 9px;
    color: white;
}

.single-skill:nth-child(2) p {
    background-color: #17196e;
    width: 80%;
    text-align: center;
    border-radius: 9px;
    color: white;
}

.single-skill:nth-child(3) p {
    background-color: #17196e;
    width: 75%;
    text-align: center;
    border-radius: 9px;
    color: white;
}

.single-skill:nth-child(4) p {
    background-color: #17196e;
    width: 50%;
    text-align: center;
    border-radius: 9px;
    color: white;
}

.full-width {
    width: 100%;
    background-color: #d4d1d1;
    border-radius: 9px;
}

.single-skill h3 {
    padding-bottom: 1em;
}

.single-skill {
    margin: 21px;
}

.langs {
    margin: 21px;
    padding-top: 1em;
}

.langs .single-skill p {
    color: transparent;
}

footer {
    height: 10vh;
    width: 100%;
    background-color: #17196e;
}